<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.5/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de">PHPExcel-Bibliothek</label>
    <label lang="en">PHPExcel Library</label>

    <version>3.0.0</version>
    <link>http://www.netinventors.de</link>
    <author>Net Inventors GmbH</author>
    <compatibility minVersion="5.6.0"/>
    
    <changelog version="3.0.0">
        <changes lang="de"><![CDATA[
[#32192] Release für SW 5.6
]]></changes>
        <changes lang="en"><![CDATA[
[#32192] Release for SW 5.6
]]></changes>
    </changelog>

    <changelog version="2.0.0">
        <changes lang="de"><![CDATA[
[#30079] Release für SW 5.5
]]></changes>
        <changes lang="en"><![CDATA[
[#30079] Release for SW 5.5
]]></changes>
    </changelog>

    <changelog version="1.2.0">
        <changes lang="de"><![CDATA[
[#GitHub #7] Das Plugin kann nun über Composer installiert werden: "composer require net-inventors/neti-php-excel"
]]></changes>
        <changes lang="en"><![CDATA[
[#GitHub #7] The plugin can now be installed through composer: "composer require net-inventors/neti-php-excel"
]]></changes>
    </changelog>

    <changelog version="1.1.0">
        <changes lang="de"><![CDATA[
[#28062] Der InputFileType beim Lesen einer Datei kann jetzt überschrieben werden, anstatt sich auf die Erkennung von PhpExcel zu verlassen.
]]></changes>
        <changes lang="en"><![CDATA[
[#28062] Added option to override InputFileType instead of relying on PhpExcel type detection.
]]></changes>
    </changelog>

    <changelog version="1.0.3">
        <changes lang="de"><![CDATA[Interne Anpassungen]]></changes>
        <changes lang="en"><![CDATA[Internal changes]]></changes>
    </changelog>

    <changelog version="1.0.2">
        <changes lang="de"><![CDATA[Bugfixes]]></changes>
        <changes lang="en"><![CDATA[Bugfixes]]></changes>
    </changelog>

    <changelog version="1.0.1">
        <changes lang="de"><![CDATA[Nützliche Funktionen für einfache Im- und Exporte hinzugefügt]]></changes>
        <changes lang="en"><![CDATA[Added usefull functions for simple imports and exports]]></changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="de"><![CDATA[[#24686] Erstes Release, kompatibel ab Shopware 5.2.6]]></changes>
        <changes lang="en"><![CDATA[[#24686] First release, compatible since Shopware 5.2.6]]></changes>
    </changelog>
</plugin>
