<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de">PHPExcel-Bibliothek</label>
    <label lang="en">PHPExcel Library</label>

    <version>1.0.1</version>
    <link>http://www.shopinventors.de</link>
    <author>Net Inventors GmbH</author>
    <compatibility minVersion="5.2.6"/>

    <changelog version="1.0.1">
        <changes lang="de"><![CDATA[Nützliche Funktionen für einfache Im- und Exporte hinzugefügt]]></changes>
        <changes lang="en"><![CDATA[Added usefull functions for simple imports and exports]]></changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="de"><![CDATA[[#24686] Erstes Release, kompatibel ab Shopware 5.2.6]]></changes>
        <changes lang="en"><![CDATA[[#24686] First release, compatible since Shopware 5.2.6]]></changes>
    </changelog>
</plugin>
